@use '../../../styles'

.side-nav-container
    margin: 100px 50px
    color: styles.$secondary-color
    padding: 0 20px
    max-width: 250px

.side-nav-container
    ul
        padding: 0
    li
        list-style-type: none
        border-bottom: 1px solid styles.$tertiary-color
        padding: 10px
    li:hover
        background-color: styles.$tertiary-color
        cursor: pointer

