<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/routes" routerLinkActive="active" ariaCurrentWhenActive="page">Routes</a>
        </li>
        <li>
            <a routerLink="/boulders" routerLinkActive="active" ariaCurrentWhenActive="page">Boulders</a>
        </li>
        <li>
            <a href="">My Climbs</a>
        </li>
    </ul>
    <button class="btn-default-inverse">Logout</button>
</nav>