@use '../../../styles'

.search-container
    display: flex
    flex-direction: column
    row-gap: 20px
    justify-content: center
    align-items: center
.search-bar
    text-align: center
    border: 1px solid styles.$tertiary-color
    width: 500px
    height: 40px
    border-radius: 20px